<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">All</label>
  <input type="radio" id="language" name="filter" />
  <label class="filter-button neumorphism-button" for="language">Present</label>
  <input type="radio" id="framework" name="filter" />
  <label class="filter-button neumorphism-button" for="framework">Past</label>
  <input type="radio" id="tool" name="filter" />
  <label class="filter-button neumorphism-button" for="tool">Future</label>

  {% for language in site.data.skills-languages %}
    <div skill-type="language" style="border:1px solid red">
      <a class="highlight-link" href="{{language.link}}" target="_blank" rel="noreferrer">{{language.name}}</a>
    </div>
  {% endfor %}
  {% for framework in site.data.skills-frameworks %}
    <div skill-type="framework" style="border:1px solid green">
      <a class="highlight-link" href="{{framework.link}}" target="_blank" rel="noreferrer">{{framework.name}}</a>
    </div>
  {% endfor %}
  {% for tool in site.data.skills-tools %}
    <div skill-type="tool" style="border:1px solid blue">
      <a class="highlight-link" href="{{tool.link}}" target="_blank" rel="noreferrer">{{tool.name}}</a>
    </div>
  {% endfor %}
</div>
