<h1 class="title">{{site.skills_title}}</h1>

<div id="skills">
  <input type="radio" id="all" name="filter" checked />
  <label class="filter-button neumorphism-button" for="all">All</label>
  <input type="radio" id="language" name="filter" />
  <label class="filter-button neumorphism-button" for="language">Present</label>
  <input type="radio" id="framework" name="filter" />
  <label class="filter-button neumorphism-button" for="framework">Past</label>
  <input type="radio" id="tool" name="filter" />
  <label class="filter-button neumorphism-button" for="tool">Future</label>

  {% for language in site.data.skills-languages %}
    <div skill-type="language" style="border:1px solid red">
      [{{language.name}}](language.link)
    </div>
  {% endfor %}
  {% for framework in site.data.skills-frameworks %}
    <div skill-type="framework" style="border:1px solid green">
      [{{framework.name}}](framework.link)
    </div>
  {% endfor %}
  {% for tool in site.data.skills-tools %}
    <div skill-type="tool" style="border:1px solid blue">
      [{{tool.name}}](tool.link)
    </div>
  {% endfor %}
</div>
